<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Risk Assessment</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../heart_icon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 40px;
            background-color: #E0F7FA; /* Light blue background */
        }
        .form-container {
            padding: 30px;
            background-color: #ffffff;
            border: 1px solid #B2EBF2;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
            margin-bottom: 20px; /* Adds spacing to the bottom */
        }
        .footer {
            text-align: center;
            padding: 20px 0;
            margin-top: 40px;
            background-color: #B2EBF2;
            color: #0277BD;
            border-top: 1px solid #B2EBF2;
        }
        .footer-description {
            margin: 0;
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="form-container">
                <h2 class="text-center mb-4">Heart Disease Risk Assessment</h2>
                <form action="/submit" method="post">
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" name="age" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" name="gender" required>
                            <option value="">Select...</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="familyHistory">Family History</label>
                        <select class="form-control" id="familyHistory" name="familyHistory" required>
                            <option value="">Select...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="unknown">Unknown</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="smoking">Smoking</label>
                        <select class="form-control" id="smoking" name="smoking" required>
                            <option value="">Select...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="occasionally">Occasionally</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="diet">Diet</label>
                        <select class="form-control" id="diet" name="diet" required>
                            <option value="">Select...</option>
                            <option value="healthy">Healthy</option>
                            <option value="unhealthy">Unhealthy</option>
                            <option value="moderate">Moderate</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="physicalActivity">Physical Activity</label>
                        <select class="form-control" id="physicalActivity" name="physicalActivity" required>
                            <option value="">Select...</option>
                            <option value="active">Active</option>
                            <option value="sedentary">Sedentary</option>
                            <option value="moderately active">Moderately Active</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="obesity">Obesity</label>
                        <select class="form-control" id="obesity" name="obesity" required>
                            <option value="">Select...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="borderline">Borderline</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="diabetes">Diabetes</label>
                        <select class="form-control" id="diabetes" name="diabetes" required>
                            <option value="">Select...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="pre-diabetes">Pre-diabetes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="highBloodPressure">High Blood Pressure</label>
                        <select class="form-control" id="highBloodPressure" name="highBloodPressure" required>
                            <option value="">Select...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="borderline">Borderline</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="stressAndMentalHealth">Stress and Mental Health</label>
                        <select class="form-control" id="stressAndMentalHealth" name="stressAndMentalHealth" required>
                            <option value="">Select...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="sometimes">Sometimes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="alcoholConsumption">Alcohol Consumption</label>
                        <select class="form-control" id="alcoholConsumption" name="alcoholConsumption" required>
                            <option value="">Select...</option>
                            <option value="none">None</option>
                            <option value="light">Light</option>
                            <option value="moderate">Moderate</option>
                            <option value="heavy">Heavy</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sleepPatterns">Sleep Patterns</label>
                        <select class="form-control" id="sleepPatterns" name="sleepPatterns" required>
                            <option value="">Select...</option>
                            <option value="regular">Regular</option>
                            <option value="irregular">Irregular</option>
                            <option value="often disturbed">Often Disturbed</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Calculate</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <p class="footer-description">Hyunmin Kim    Chiao-Yu    Ruohui Huang</p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>